// ----------------------------------------------
// color
// ----------------------------------------------
._white   { color: white; }
._blue    { color: blue; }
._red     { color: red; }
._yellow  { color: yellow; }
._green   { color: green; }

._white_  { background-color: white; }
._blue_   { background-color: blue; }
._red_    { background-color: red; }
._yellow_ { background-color: yellow; }
._green_  { background-color: green; }
