h3._lefted_ ボタン
.btn-box
  button._Btn ._Btn
  button._Btn._Black_ ._Btn._Black_
.btn-box
  button._Btn._red_ ._Btn._red_
  button._Btn._Red_ ._Btn._Red_
  button._Btn._blue_ ._Btn._blue_
  button._Btn._Blue_ ._Btn._Blue_
  button._Btn._yellow_ Btn._yellow_
  button._Btn._Yellow_ Btn._Yellow_
  button._Btn._orange_ Btn._orange_
  button._Btn._Orange_ Btn._Orange_
.btn-box
  button._Btn._info_ Btn._info_
  button._Btn._Info_ Btn._Info_
  button._Btn._warn_ Btn._warn_
  button._Btn._Warn_ Btn._Warn_
  button._Btn._error_ Btn._error_
  button._Btn._Error_ Btn._Error_
.btn-box
  button._Btn._ok_ Btn._ok_
  button._Btn._Ok_ Btn._Ok_
  button._Btn._ng_ Btn._ng_
  button._Btn._Ng_ Btn._Ng_
.btn-box
  a._Btn a._Btn_
  a._Btn._navy_ でも
  a._Btn._teal_ できるよ
.btn-box._lg
  ._Btn div._Btn
  ._Btn._red_ でも
  ._Btn._blue_ できるよ
style
  .
    .btn-box {
      letter-spacing: -1rem;
      margin: 10px 0;
    }

