h3._lefted ボタン
.btn-box
  button._Btn Btn
  button._Btn-Black Btn-Black
  button._Btn-red Btn-red
  button._Btn-Red Btn-Red
  button._Btn-blue Btn-blue
  button._Btn-Blue Btn-Blue
  button._Btn-yellow Btn-yellow
  button._Btn-Yellow Btn-Yellow
  button._Btn-orange Btn-orange
  button._Btn-Orange Btn-Orange
.btn-box
  button._Btn-info Btn-info
  button._Btn-Info Btn-Info
  button._Btn-warn Btn-warn
  button._Btn-Warn Btn-Warn
  button._Btn-error Btn-error
  button._Btn-Error Btn-Error
.btn-box
  button._Btn-ok Btn-ok
  button._Btn-Ok Btn-Ok
  button._Btn-ng Btn-ng
  button._Btn-Ng Btn-Ng
.btn-box
  a._Btn-Blue aタグ
  a._Btn-Red でも
  a._Btn-Yellow できるよ
.btn-box._lg
  ._Btn-blue divタグ
  ._Btn-red でも
  ._Btn-yellow できるよ
style
  .
    .btn-box {
      letter-spacing: -1rem;
      margin: 10px 0;
    }

