h3._lefted_ フォーム
.form-box
  ._my-sm
    input(type="text")
  ._my-sm
    input._Icon_(type="text" placeholder!="&#xf007 アカウント")
  ._my-sm
    input._Icon_(type="text" placeholder!="&#xf023 パスワード")
style
  .
    .form-box {
    }

