h3._lefted リスト
.list-box
  ul
    li._icon._Heart item-1
    li._icon._User item-2
    li._icon._Lock item-3
.list-box
  ul.my._virticaled
    li: a._icon._heart(href="#") item-1
    li: a._icon._user(href="#") item-2
    li: a(href="#") item-3
  p 水平メニューは基礎設定のみ提供する。細かい設定は「ul._virticaled」にstyleを追加するか、sassが使えるなら「ul.my._virticaled」を継承して整える
  div
    h4 styleタグ
    pre._code
      .
        /* ul._virticaledに直接styleあてると、他にも影響するので「my」で影響範囲を絞ってる */
        ul.my._virticaled > li {
          background: #ccF;
          width: 100px;
          height: 60px;
          line-height: 60px;
          text-align: center;
        }
  div
    h4 sassが使えるなら
    pre._code
      .
        .myList {
          @extend ._virticaled
          li {
            background: #ccF;
            width: 200px;
            height: 60px;
            line-height: 60px;
            text-align: center;
          }
        }
style
  .
    ul.my._virticaled > li {
      background: #ccF;
      width: 100px;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }
    /*
    ._virticaled > li > a {
      padding: 1rem
    }
    */

