/* ==============================================
  Card
// ============================================== */
// https://nippori30.hatenablog.com/entry/2018/05/01/174518

._Card-base
  //box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.10)
  box-shadow: 0 3px 6px #ccc;
._Card
  @extend ._Card-base
  > h4
    margin: 0
    padding: .7rem 1rem
    background: $card_head_bg
    color: $card_head_color
    //font-size: 1rem
  > p
    margin: 0
    padding: .7rem 1rem
    font-size: .9rem
    color: $card_body_color
    //background: $yellow
