table
  //border-collapse: separate
  //border-spacing: 0
  border-collapse: collapse
  &.--striped
    tr:nth-child(even)
      background: #f3f3f3
  &.--hoverd
    tbody
      tr:hover
        background: #ffe
  //tr
  //th
  //td

// 継承サンプル
  .myTable
    @extend &.--striped
    @extend &.--hoverd
    thead
      color: white
      background: black
      th
        border: solid 2px white
