//._Tbl

table, th, td
  border-collapse: separate
  //border: 1px solid #ccc
  //border-spacing: 5px;
  //line-height: 1.5
  &.--striped
    tr:nth-child(even)
      background: #eee

//table.type06 th
//  width: 150px
//  padding: 10px
//  font-weight: bold
//  vertical-align: top
//table.type06 td
//  width: 350px
//  padding: 10px
//  vertical-align: top


