table
  //border-collapse: separate
  border-collapse: collapse
  &.--striped
    tr:nth-child(even)
      background: #f3f3f3
  &.--hoverd
    tbody
      tr:hover
        background: #ffe
  //tr
  //th
  //td

  &._Th
    thead
      color: white
      background: black
      th
        border: solid 1px white
