/* ==============================================
  Box model
============================================== */
// 5段階(xl,l,m,s,xs)でサイズ展開する
// 具体的な数値で持たせるかは思案中

/* margin
---------------------------------------------- */
// margin reset
.#{$prefix}m-0  { margin:       0     !important; }
.#{$prefix}mt-0 { margin-top:   0     !important; }
.#{$prefix}mb-0 { margin-bottom:0     !important; }
.#{$prefix}ml-0 { margin-left:  0     !important; }
.#{$prefix}mr-0 { margin-right: 0     !important; }
.#{$prefix}mx-0 { margin-left:  0     !important; margin-right: 0     !important; }
.#{$prefix}my-0 { margin-top:   0     !important; margin-bottom:0     !important; }
.#{$prefix}mx-a { margin-left:  auto  !important; margin-right: auto  !important; }

// margin basic
.#{$prefix}m-xs { margin: $box_model_xs !important; }
.#{$prefix}m-sm { margin: $box_model_sm !important; }
.#{$prefix}m-md { margin: $box_model_md !important; }
.#{$prefix}m-lg { margin: $box_model_lg !important; }
.#{$prefix}m-xl { margin: $box_model_xl !important; }

// margin t,b
.#{$prefix}mt-xs{ margin-top:   $box_model_xs !important; }
.#{$prefix}mb-xs{ margin-bottom:$box_model_xs !important; }
.#{$prefix}mt-sm{ margin-top:   $box_model_sm !important; }
.#{$prefix}mb-sm{ margin-bottom:$box_model_sm !important; }
.#{$prefix}mt-md{ margin-top:   $box_model_md !important; }
.#{$prefix}mb-md{ margin-bottom:$box_model_md !important; }
.#{$prefix}mt-lg{ margin-top:   $box_model_lg !important; }
.#{$prefix}mb-lg{ margin-bottom:$box_model_lg !important; }
.#{$prefix}mt-xl{ margin-top:   $box_model_xl !important; }
.#{$prefix}mb-xl{ margin-bottom:$box_model_xl !important; }

// margin LR
.#{$prefix}ml-xs{ margin-left:  $box_model_xs !important; }
.#{$prefix}mr-xs{ margin-right: $box_model_xs !important; }
.#{$prefix}ml-sm{ margin-left:  $box_model_sm !important; }
.#{$prefix}mr-sm{ margin-right: $box_model_sm !important; }
.#{$prefix}ml-md{ margin-left:  $box_model_md !important; }
.#{$prefix}mr-md{ margin-right: $box_model_md !important; }
.#{$prefix}ml-lg{ margin-left:  $box_model_lg !important; }
.#{$prefix}mr-lg{ margin-right: $box_model_lg !important; }
.#{$prefix}ml-xl{ margin-left:  $box_model_xl !important; }
.#{$prefix}mr-xl{ margin-right: $box_model_xl !important; }

// margin x,y
.#{$prefix}mx-xs{ margin-left: $box_model_xs !important; margin-right: $box_model_xs  !important; }
.#{$prefix}my-xs{ margin-top:  $box_model_xs !important; margin-bottom:$box_model_xs  !important; }
.#{$prefix}mx-sm{ margin-left: $box_model_sm !important; margin-right: $box_model_sm  !important; }
.#{$prefix}my-sm{ margin-top:  $box_model_sm !important; margin-bottom:$box_model_sm  !important; }
.#{$prefix}mx-md{ margin-left: $box_model_md !important; margin-right: $box_model_md  !important; }
.#{$prefix}my-md{ margin-top:  $box_model_md !important; margin-bottom:$box_model_md  !important; }
.#{$prefix}mx-lg{ margin-left: $box_model_lg !important; margin-right: $box_model_lg  !important; }
.#{$prefix}my-lg{ margin-top:  $box_model_lg !important; margin-bottom:$box_model_lg  !important; }
.#{$prefix}mx-xl{ margin-left: $box_model_xl !important; margin-right: $box_model_xl  !important; }
.#{$prefix}my-xl{ margin-top:  $box_model_xl !important; margin-bottom:$box_model_xl  !important; }

/* padding
---------------------------------------------- */
// padding reset
.#{$prefix}p-0  { padding:        0 !important; }
.#{$prefix}pt-0 { padding-top:    0 !important; }
.#{$prefix}pb-0 { padding-bottom: 0 !important; }
.#{$prefix}pl-0 { padding-left:   0 !important; }
.#{$prefix}pr-0 { padding-right:  0 !important; }
.#{$prefix}px-0 { padding-left:   0 !important; padding-right:  0 !important; }
.#{$prefix}py-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

// padding basic
.#{$prefix}p-xs { padding: $box_model_xs  !important; }
.#{$prefix}p-sm { padding: $box_model_sm  !important; }
.#{$prefix}p-md { padding: $box_model_md  !important; }
.#{$prefix}p-lg { padding: $box_model_lg  !important; }
.#{$prefix}p-xl { padding: $box_model_xl  !important; }

// padding t,b
.#{$prefix}pt-xs{ padding-top:    $box_model_xs !important; }
.#{$prefix}pb-xs{ padding-bottom: $box_model_xs !important; }
.#{$prefix}pt-sm{ padding-top:    $box_model_sm !important; }
.#{$prefix}pb-sm{ padding-bottom: $box_model_sm !important; }
.#{$prefix}pt-md{ padding-top:    $box_model_md !important; }
.#{$prefix}pb-md{ padding-bottom: $box_model_md !important; }
.#{$prefix}pt-lg{ padding-top:    $box_model_lg !important; }
.#{$prefix}pb-lg{ padding-bottom: $box_model_lg !important; }
.#{$prefix}pt-xl{ padding-top:    $box_model_xl !important; }
.#{$prefix}pb-xl{ padding-bottom: $box_model_xl !important; }

// padding LR
.#{$prefix}pl-xs{ padding-left: $box_model_xs !important; }
.#{$prefix}pr-xs{ padding-right:$box_model_xs !important; }
.#{$prefix}pl-sm{ padding-left: $box_model_sm !important; }
.#{$prefix}pr-sm{ padding-right:$box_model_sm !important; }
.#{$prefix}pl-md{ padding-left: $box_model_md !important; }
.#{$prefix}pr-md{ padding-right:$box_model_md !important; }
.#{$prefix}pl-lg{ padding-left: $box_model_lg !important; }
.#{$prefix}pr-lg{ padding-right:$box_model_lg !important; }
.#{$prefix}pl-xl{ padding-left: $box_model_xl !important; }
.#{$prefix}pr-xl{ padding-right:$box_model_xl !important; }

// padding x,y
.#{$prefix}px-xs{ padding-left:$box_model_xs  !important; padding-right:  $box_model_xs !important; }
.#{$prefix}py-xs{ padding-top: $box_model_xs  !important; padding-bottom: $box_model_xs !important; }
.#{$prefix}px-sm{ padding-left:$box_model_sm  !important; padding-right:  $box_model_sm !important; }
.#{$prefix}py-sm{ padding-top: $box_model_sm  !important; padding-bottom: $box_model_sm !important; }
.#{$prefix}px-md{ padding-left:$box_model_md  !important; padding-right:  $box_model_md !important; }
.#{$prefix}py-md{ padding-top: $box_model_md  !important; padding-bottom: $box_model_md !important; }
.#{$prefix}px-lg{ padding-left:$box_model_lg  !important; padding-right:  $box_model_lg !important; }
.#{$prefix}py-lg{ padding-top: $box_model_lg  !important; padding-bottom: $box_model_lg !important; }
.#{$prefix}px-xl{ padding-left:$box_model_xl  !important; padding-right:  $box_model_xl !important; }
.#{$prefix}py-xl{ padding-top: $box_model_xl  !important; padding-bottom: $box_model_xl !important; }

/* margin & padding
---------------------------------------------- */

// 5-20pxまで、5px間隔で作る
$mdpd: (
  m: margin,
  p: padding
);
@each $e, $p in $mdpd {
  @for $i from 1 through 4 {
    $val : #{$i * 5};
    .#{$prefix}#{$e}-#{$val}px  { #{$p}:       #{$val}px !important; }
    .#{$prefix}#{$e}t-#{$val}px { #{$p}-top:   #{$val}px !important; }
    .#{$prefix}#{$e}b-#{$val}px { #{$p}-bottom:#{$val}px !important; }
    .#{$prefix}#{$e}l-#{$val}px { #{$p}-left:  #{$val}px !important; }
    .#{$prefix}#{$e}r-#{$val}px { #{$p}-right: #{$val}px !important; }
    .#{$prefix}#{$e}x-#{$val}px { #{$p}-left:  #{$val}px !important; #{$p}-right: #{$val}px !important; }
    .#{$prefix}#{$e}y-#{$val}px { #{$p}-top:   #{$val}px !important; #{$p}-bottom:#{$val}px !important; }
  }
}
