/* ==============================================
  Colors
============================================== */

/* font & background colors
---------------------------------------------- */
//$cbc: (
//  c : color,
//  bg: background-color
//);
//
//@each $e, $p in $cbc {
//  .#{$prefix}#{$e}-eee { #{$p}: #eee; }
//  .#{$prefix}#{$e}-ccc { #{$p}: #ccc; }
//  .#{$prefix}#{$e}-999 { #{$p}: #999; }
//  .#{$prefix}#{$e}-666 { #{$p}: #666; }
//  .#{$prefix}#{$e}-333 { #{$p}: #333; }
//
//  .#{$prefix}#{$e}-fcc { #{$p}: #fcc; }
//  .#{$prefix}#{$e}-cfc { #{$p}: #cfc; }
//  .#{$prefix}#{$e}-ccf { #{$p}: #ccf; }
//  .#{$prefix}#{$e}-cff { #{$p}: #cff; }
//  .#{$prefix}#{$e}-fcf { #{$p}: #fcf; }
//  .#{$prefix}#{$e}-ffc { #{$p}: #ffc; }
//
//  .#{$prefix}#{$e}-f99 { #{$p}: #f99; }
//  .#{$prefix}#{$e}-9f9 { #{$p}: #9f9; }
//  .#{$prefix}#{$e}-99f { #{$p}: #99f; }
//  .#{$prefix}#{$e}-9ff { #{$p}: #9ff; }
//  .#{$prefix}#{$e}-f9f { #{$p}: #f9f; }
//  .#{$prefix}#{$e}-ff9 { #{$p}: #ff9; }
//
//  .#{$prefix}#{$e}-c99 { #{$p}: #c99; }
//  .#{$prefix}#{$e}-9c9 { #{$p}: #9c9; }
//  .#{$prefix}#{$e}-99c { #{$p}: #99c; }
//  .#{$prefix}#{$e}-9cc { #{$p}: #9cc; }
//  .#{$prefix}#{$e}-c9c { #{$p}: #c9c; }
//  .#{$prefix}#{$e}-cc9 { #{$p}: #cc9; }
//}

/* font colors
---------------------------------------------- */
.#{$utils_prefix}red    { color: #{$red}    !important; }
.#{$utils_prefix}orange { color: #{$orange} !important; }
.#{$utils_prefix}yellow { color: #{$yellow} !important; }
.#{$utils_prefix}olive  { color: #{$olive}  !important; }
.#{$utils_prefix}green  { color: #{$green}  !important; }
.#{$utils_prefix}lime   { color: #{$lime}   !important; }
.#{$utils_prefix}teal   { color: #{$teal}   !important; }
.#{$utils_prefix}blue   { color: #{$blue}   !important; }
.#{$utils_prefix}navy   { color: #{$navy}   !important; }
.#{$utils_prefix}violet { color: #{$violet} !important; }
.#{$utils_prefix}purple { color: #{$purple} !important; }
.#{$utils_prefix}pink   { color: #{$pink}   !important; }
.#{$utils_prefix}brown  { color: #{$brown}  !important; }
//.#{$prefix}gray   { color: #{$gray}   !important; }
//.#{$prefix}silver { color: #{$silver} !important; }
//.#{$prefix}black  { color: #{$black}  !important; }
//.#{$prefix}white  { color: #{$white}  !important; }

/* background colors
---------------------------------------------- */
.#{$utils_prefix}Red    { color: white; background: $red;    }
.#{$utils_prefix}Orange { color: white; background: $orange; }
.#{$utils_prefix}Yellow { color: black; background: $yellow; }
.#{$utils_prefix}Olive  { color: white; background: $olive;  }
.#{$utils_prefix}Green  { color: white; background: $green;  }
.#{$utils_prefix}Lime   { color: black; background: $lime;   }
.#{$utils_prefix}Teal   { color: white; background: $teal;   }
.#{$utils_prefix}Blue   { color: white; background: $blue;   }
.#{$utils_prefix}Navy   { color: white; background: $navy;   }
.#{$utils_prefix}Violet { color: black; background: $violet; }
.#{$utils_prefix}Purple { color: white; background: $purple; }
.#{$utils_prefix}Pink   { color: black; background: $pink;   }
.#{$utils_prefix}Brown  { color: white; background: $brown;  }
//.#{$prefix}Gray   { color: $white; background: $gray;   }
//.#{$prefix}Silver { color: $black; background: $silver; }
//.#{$prefix}Black  { color: $white; background: $black;  }
//.#{$prefix}White  { color: $black; background: $white;  }

/* message colors
---------------------------------------------- */
.#{$utils_prefix}Info   { @extend .#{$utils_prefix}Blue;  }
.#{$utils_prefix}Warn   { @extend .#{$utils_prefix}Yellow;}
.#{$utils_prefix}Error  { @extend .#{$utils_prefix}Red;   }
.#{$utils_prefix}Ok     { @extend .#{$utils_prefix}Teal;  }
.#{$utils_prefix}Ng     { @extend .#{$utils_prefix}Pink;  }

.#{$utils_prefix}info   { @extend .#{$utils_prefix}blue;  }
.#{$utils_prefix}warn   { @extend .#{$utils_prefix}yellow;}
.#{$utils_prefix}error  { @extend .#{$utils_prefix}red;   }
.#{$utils_prefix}ok     { @extend .#{$utils_prefix}teal;  }
.#{$utils_prefix}ng     { @extend .#{$utils_prefix}pink;  }


