/* ==============================================
  Text
============================================== */
.#{$prefix}center { text-align: center      !important; }
.#{$prefix}right  { text-align: right       !important; }
.#{$prefix}left   { text-align: left        !important; }
