/* ==============================================
  Utils
============================================== */
.#{$prefix}ime-off { ime-mode: disabled;   }
.#{$prefix}nowrap  { white-space: nowrap;  }

.#{$prefix}clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.#{$prefix}code_ {
  margin: 0;
  padding: 1rem;
  background: $silver;
}
