/* ==============================================
  visual formating model
============================================== */
/* display
---------------------------------------------- */
._block {
  display: block        !important;
}

._iblock {
  display: inline-block !important;
}

._inline {
  display: inline       !important;
}

._hidden {
  display: hidden       !important;
}

/* position
---------------------------------------------- */
._fixed {
  position: fixed;
}

._relative {
  position: relative;
}

._absolute {
  position: absolute;
}

._flex {
  position: flex;
}

/* width
---------------------------------------------- */
._w-20px {
  width: 20px !important;
}

._w-150px {
  width: 150px !important;
}

._w-200px {
  width: 200px !important;
}

._w-30px {
  width: 30px !important;
}

._w-250px {
  width: 250px !important;
}

._w-300px {
  width: 300px !important;
}

._w-40px {
  width: 40px !important;
}

._w-350px {
  width: 350px !important;
}

._w-400px {
  width: 400px !important;
}

._w-50px {
  width: 50px !important;
}

._w-450px {
  width: 450px !important;
}

._w-500px {
  width: 500px !important;
}

._w-60px {
  width: 60px !important;
}

._w-550px {
  width: 550px !important;
}

._w-600px {
  width: 600px !important;
}

._w-70px {
  width: 70px !important;
}

._w-650px {
  width: 650px !important;
}

._w-700px {
  width: 700px !important;
}

._w-80px {
  width: 80px !important;
}

._w-750px {
  width: 750px !important;
}

._w-800px {
  width: 800px !important;
}

._w-90px {
  width: 90px !important;
}

._w-850px {
  width: 850px !important;
}

._w-900px {
  width: 900px !important;
}

._w-100px {
  width: 100px !important;
}

._w-950px {
  width: 950px !important;
}

._w-1000px {
  width: 1000px !important;
}

._w-5pct {
  width: 5% !important;
}

._w-10pct {
  width: 10% !important;
}

._w-15pct {
  width: 15% !important;
}

._w-20pct {
  width: 20% !important;
}

._w-25pct {
  width: 25% !important;
}

._w-30pct {
  width: 30% !important;
}

._w-35pct {
  width: 35% !important;
}

._w-40pct {
  width: 40% !important;
}

._w-45pct {
  width: 45% !important;
}

._w-50pct {
  width: 50% !important;
}

._w-55pct {
  width: 55% !important;
}

._w-60pct {
  width: 60% !important;
}

._w-65pct {
  width: 65% !important;
}

._w-70pct {
  width: 70% !important;
}

._w-75pct {
  width: 75% !important;
}

._w-80pct {
  width: 80% !important;
}

._w-85pct {
  width: 85% !important;
}

._w-90pct {
  width: 90% !important;
}

._w-95pct {
  width: 95% !important;
}

._w-100pct {
  width: 100% !important;
}

/* vertical-align
---------------------------------------------- */
._top {
  vertical-align: top     !important;
}

._middle {
  vertical-align: middle  !important;
}

._bottom {
  vertical-align: bottom  !important;
}

/* ==============================================
  Box model
============================================== */
/* margin
---------------------------------------------- */
._m-0 {
  margin: 0     !important;
}

._mt-0 {
  margin-top: 0     !important;
}

._mb-0 {
  margin-bottom: 0     !important;
}

._ml-0 {
  margin-left: 0     !important;
}

._mr-0 {
  margin-right: 0     !important;
}

._mx-0 {
  margin-left: 0     !important;
  margin-right: 0     !important;
}

._my-0 {
  margin-top: 0     !important;
  margin-bottom: 0     !important;
}

._mx-a {
  margin-left: auto  !important;
  margin-right: auto  !important;
}

._m-xs {
  margin: 0.6rem !important;
}

._m-s {
  margin: 0.8rem !important;
}

._m-m {
  margin: 1rem !important;
}

._m-l {
  margin: 1.6rem !important;
}

._m-xl {
  margin: 2rem !important;
}

._mt-xs {
  margin-top: 0.6rem !important;
}

._mb-xs {
  margin-bottom: 0.6rem !important;
}

._mt-s {
  margin-top: 0.8rem !important;
}

._mb-s {
  margin-bottom: 0.8rem !important;
}

._mt-m {
  margin-top: 1rem !important;
}

._mb-m {
  margin-bottom: 1rem !important;
}

._mt-l {
  margin-top: 1.6rem !important;
}

._mb-l {
  margin-bottom: 1.6rem !important;
}

._mt-xl {
  margin-top: 2rem !important;
}

._mb-xl {
  margin-bottom: 2rem !important;
}

._ml-xs {
  margin-left: 0.6rem !important;
}

._mr-xs {
  margin-right: 0.6rem !important;
}

._ml-s {
  margin-left: 0.8rem !important;
}

._mr-s {
  margin-right: 0.8rem !important;
}

._ml-m {
  margin-left: 1rem !important;
}

._mr-m {
  margin-right: 1rem !important;
}

._ml-l {
  margin-left: 1.6rem !important;
}

._mr-l {
  margin-right: 1.6rem !important;
}

._ml-xl {
  margin-left: 2rem !important;
}

._mr-xl {
  margin-right: 2rem !important;
}

._mx-xs {
  margin-left: 0.6rem !important;
  margin-right: 0.6rem !important;
}

._my-xs {
  margin-top: 0.6rem !important;
  margin-bottom: 0.6rem !important;
}

._mx-s {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

._my-s {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

._mx-m {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

._my-m {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

._mx-l {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

._my-l {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

._mx-xl {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

._my-xl {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* padding
---------------------------------------------- */
._p-0 {
  padding: 0 !important;
}

._pt-0 {
  padding-top: 0 !important;
}

._pb-0 {
  padding-bottom: 0 !important;
}

._pl-0 {
  padding-left: 0 !important;
}

._pr-0 {
  padding-right: 0 !important;
}

._px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

._py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

._p-xs {
  padding: 0.6rem !important;
}

._p-s {
  padding: 0.8rem !important;
}

._p-m {
  padding: 1rem !important;
}

._p-l {
  padding: 1.6rem !important;
}

._p-xl {
  padding: 2rem !important;
}

._pt-xs {
  padding-top: 0.6rem !important;
}

._pb-xs {
  padding-bottom: 0.6rem !important;
}

._pt-s {
  padding-top: 0.8rem !important;
}

._pb-s {
  padding-bottom: 0.8rem !important;
}

._pt-m {
  padding-top: 1rem !important;
}

._pb-m {
  padding-bottom: 1rem !important;
}

._pt-l {
  padding-top: 1.6rem !important;
}

._pb-l {
  padding-bottom: 1.6rem !important;
}

._pt-xl {
  padding-top: 2rem !important;
}

._pb-xl {
  padding-bottom: 2rem !important;
}

._pl-xs {
  padding-left: 0.6rem !important;
}

._pr-xs {
  padding-right: 0.6rem !important;
}

._pl-s {
  padding-left: 0.8rem !important;
}

._pr-s {
  padding-right: 0.8rem !important;
}

._pl-m {
  padding-left: 1rem !important;
}

._pr-m {
  padding-right: 1rem !important;
}

._pl-l {
  padding-left: 1.6rem !important;
}

._pr-l {
  padding-right: 1.6rem !important;
}

._pl-xl {
  padding-left: 2rem !important;
}

._pr-xl {
  padding-right: 2rem !important;
}

._px-xs {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

._py-xs {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

._px-s {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

._py-s {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

._px-m {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

._py-m {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

._px-l {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

._py-l {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}

._px-xl {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

._py-xl {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

/* margin & padding
---------------------------------------------- */
._m-5px {
  margin: 5px !important;
}

._mt-5px {
  margin-top: 5px !important;
}

._mb-5px {
  margin-bottom: 5px !important;
}

._ml-5px {
  margin-left: 5px !important;
}

._mr-5px {
  margin-right: 5px !important;
}

._mx-5px {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

._my-5px {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

._m-10px {
  margin: 10px !important;
}

._mt-10px {
  margin-top: 10px !important;
}

._mb-10px {
  margin-bottom: 10px !important;
}

._ml-10px {
  margin-left: 10px !important;
}

._mr-10px {
  margin-right: 10px !important;
}

._mx-10px {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

._my-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

._m-15px {
  margin: 15px !important;
}

._mt-15px {
  margin-top: 15px !important;
}

._mb-15px {
  margin-bottom: 15px !important;
}

._ml-15px {
  margin-left: 15px !important;
}

._mr-15px {
  margin-right: 15px !important;
}

._mx-15px {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

._my-15px {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

._m-20px {
  margin: 20px !important;
}

._mt-20px {
  margin-top: 20px !important;
}

._mb-20px {
  margin-bottom: 20px !important;
}

._ml-20px {
  margin-left: 20px !important;
}

._mr-20px {
  margin-right: 20px !important;
}

._mx-20px {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

._my-20px {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* ==============================================
  Text
============================================== */
._center {
  text-align: center      !important;
}

._right {
  text-align: right       !important;
}

._left {
  text-align: left        !important;
}

/* ==============================================
  fonts
============================================== */
/* size
---------------------------------------------- */
._xs {
  font-size: 0.6rem;
}

._sm {
  font-size: 0.8rem;
}

._md {
  font-size: 1rem;
}

._lg {
  font-size: 1.6rem;
}

._xl {
  font-size: 2rem;
}

/* weight
---------------------------------------------- */
._bold {
  font-weight: bold;
}

._normal {
  font-weight: normal;
}

._italic {
  font-weight: italic;
}

/* ==============================================
  Colors
============================================== */
/* message colors
---------------------------------------------- */
._info {
  color: #0074D9;
}

._success {
  color: #2ECC40;
}

._warn {
  color: #FFDC00;
}

._error {
  color: #FF4136;
}

/* font & background colors
---------------------------------------------- */
._c-red {
  color: #FF4136;
}

._c-orange {
  color: #FF851B;
}

._c-yellow {
  color: #FFDC00;
}

._c-green {
  color: #2ECC40;
}

._c-teal {
  color: #39CCCC;
}

._c-blue {
  color: #0074D9;
}

._c-pink {
  color: #FF1493;
}

._c-brown {
  color: #A52A2A;
}

._c-grey {
  color: #A0A0A0;
}

._c-black {
  color: #000000;
}

._c-white {
  color: #ffffff;
}

._c-eee {
  color: #eee;
}

._c-ccc {
  color: #ccc;
}

._c-999 {
  color: #999;
}

._c-666 {
  color: #666;
}

._c-333 {
  color: #333;
}

._c-fcc {
  color: #fcc;
}

._c-cfc {
  color: #cfc;
}

._c-ccf {
  color: #ccf;
}

._c-cff {
  color: #cff;
}

._c-fcf {
  color: #fcf;
}

._c-ffc {
  color: #ffc;
}

._c-f99 {
  color: #f99;
}

._c-9f9 {
  color: #9f9;
}

._c-99f {
  color: #99f;
}

._c-9ff {
  color: #9ff;
}

._c-f9f {
  color: #f9f;
}

._c-ff9 {
  color: #ff9;
}

._c-c99 {
  color: #c99;
}

._c-9c9 {
  color: #9c9;
}

._c-99c {
  color: #99c;
}

._c-9cc {
  color: #9cc;
}

._c-c9c {
  color: #c9c;
}

._c-cc9 {
  color: #cc9;
}

._bg-red {
  background-color: #FF4136;
}

._bg-orange {
  background-color: #FF851B;
}

._bg-yellow {
  background-color: #FFDC00;
}

._bg-green {
  background-color: #2ECC40;
}

._bg-teal {
  background-color: #39CCCC;
}

._bg-blue {
  background-color: #0074D9;
}

._bg-pink {
  background-color: #FF1493;
}

._bg-brown {
  background-color: #A52A2A;
}

._bg-grey {
  background-color: #A0A0A0;
}

._bg-black {
  background-color: #000000;
}

._bg-white {
  background-color: #ffffff;
}

._bg-eee {
  background-color: #eee;
}

._bg-ccc {
  background-color: #ccc;
}

._bg-999 {
  background-color: #999;
}

._bg-666 {
  background-color: #666;
}

._bg-333 {
  background-color: #333;
}

._bg-fcc {
  background-color: #fcc;
}

._bg-cfc {
  background-color: #cfc;
}

._bg-ccf {
  background-color: #ccf;
}

._bg-cff {
  background-color: #cff;
}

._bg-fcf {
  background-color: #fcf;
}

._bg-ffc {
  background-color: #ffc;
}

._bg-f99 {
  background-color: #f99;
}

._bg-9f9 {
  background-color: #9f9;
}

._bg-99f {
  background-color: #99f;
}

._bg-9ff {
  background-color: #9ff;
}

._bg-f9f {
  background-color: #f9f;
}

._bg-ff9 {
  background-color: #ff9;
}

._bg-c99 {
  background-color: #c99;
}

._bg-9c9 {
  background-color: #9c9;
}

._bg-99c {
  background-color: #99c;
}

._bg-9cc {
  background-color: #9cc;
}

._bg-c9c {
  background-color: #c9c;
}

._bg-cc9 {
  background-color: #cc9;
}

._ime-off {
  ime-mode: disabled;
}

._nowrap {
  white-space: nowrap;
}
