a {
  text-decoration: none;
  color: inherit;
}

/* ==============================================
  visual formating model
============================================== */
/* display
---------------------------------------------- */
._block {
  display: block        !important;
}

._iblock {
  display: inline-block !important;
}

._inline {
  display: inline       !important;
}

._hidden {
  display: hidden       !important;
}

/* position
---------------------------------------------- */
._fixed {
  position: fixed;
}

._relative {
  position: relative;
}

._absolute {
  position: absolute;
}

._flex {
  position: flex;
}

/* width
---------------------------------------------- */
._w-20px {
  width: 20px !important;
}

._w-150px {
  width: 150px !important;
}

._w-200px {
  width: 200px !important;
}

._w-30px {
  width: 30px !important;
}

._w-250px {
  width: 250px !important;
}

._w-300px {
  width: 300px !important;
}

._w-40px {
  width: 40px !important;
}

._w-350px {
  width: 350px !important;
}

._w-400px {
  width: 400px !important;
}

._w-50px {
  width: 50px !important;
}

._w-450px {
  width: 450px !important;
}

._w-500px {
  width: 500px !important;
}

._w-60px {
  width: 60px !important;
}

._w-550px {
  width: 550px !important;
}

._w-600px {
  width: 600px !important;
}

._w-70px {
  width: 70px !important;
}

._w-650px {
  width: 650px !important;
}

._w-700px {
  width: 700px !important;
}

._w-80px {
  width: 80px !important;
}

._w-750px {
  width: 750px !important;
}

._w-800px {
  width: 800px !important;
}

._w-90px {
  width: 90px !important;
}

._w-850px {
  width: 850px !important;
}

._w-900px {
  width: 900px !important;
}

._w-100px {
  width: 100px !important;
}

._w-950px {
  width: 950px !important;
}

._w-1000px {
  width: 1000px !important;
}

._w-5pct {
  width: 5% !important;
}

._w-10pct {
  width: 10% !important;
}

._w-15pct {
  width: 15% !important;
}

._w-20pct {
  width: 20% !important;
}

._w-25pct {
  width: 25% !important;
}

._w-30pct {
  width: 30% !important;
}

._w-35pct {
  width: 35% !important;
}

._w-40pct {
  width: 40% !important;
}

._w-45pct {
  width: 45% !important;
}

._w-50pct {
  width: 50% !important;
}

._w-55pct {
  width: 55% !important;
}

._w-60pct {
  width: 60% !important;
}

._w-65pct {
  width: 65% !important;
}

._w-70pct {
  width: 70% !important;
}

._w-75pct {
  width: 75% !important;
}

._w-80pct {
  width: 80% !important;
}

._w-85pct {
  width: 85% !important;
}

._w-90pct {
  width: 90% !important;
}

._w-95pct {
  width: 95% !important;
}

._w-100pct {
  width: 100% !important;
}

/* vertical-align
---------------------------------------------- */
._top {
  vertical-align: top     !important;
}

._middle {
  vertical-align: middle  !important;
}

._bottom {
  vertical-align: bottom  !important;
}

/* ==============================================
  Box model
============================================== */
/* margin
---------------------------------------------- */
._m-0 {
  margin: 0     !important;
}

._mt-0 {
  margin-top: 0     !important;
}

._mb-0 {
  margin-bottom: 0     !important;
}

._ml-0 {
  margin-left: 0     !important;
}

._mr-0 {
  margin-right: 0     !important;
}

._mx-0 {
  margin-left: 0     !important;
  margin-right: 0     !important;
}

._my-0 {
  margin-top: 0     !important;
  margin-bottom: 0     !important;
}

._mx-a {
  margin-left: auto  !important;
  margin-right: auto  !important;
}

._m-xs {
  margin: 0.4rem !important;
}

._m-sm {
  margin: 0.7rem !important;
}

._m-md {
  margin: 1rem !important;
}

._m-lg {
  margin: 1.6rem !important;
}

._m-xl {
  margin: 2.2rem !important;
}

._mt-xs {
  margin-top: 0.4rem !important;
}

._mb-xs {
  margin-bottom: 0.4rem !important;
}

._mt-sm {
  margin-top: 0.7rem !important;
}

._mb-sm {
  margin-bottom: 0.7rem !important;
}

._mt-md {
  margin-top: 1rem !important;
}

._mb-md {
  margin-bottom: 1rem !important;
}

._mt-lg {
  margin-top: 1.6rem !important;
}

._mb-lg {
  margin-bottom: 1.6rem !important;
}

._mt-xl {
  margin-top: 2.2rem !important;
}

._mb-xl {
  margin-bottom: 2.2rem !important;
}

._ml-xs {
  margin-left: 0.4rem !important;
}

._mr-xs {
  margin-right: 0.4rem !important;
}

._ml-sm {
  margin-left: 0.7rem !important;
}

._mr-sm {
  margin-right: 0.7rem !important;
}

._ml-md {
  margin-left: 1rem !important;
}

._mr-md {
  margin-right: 1rem !important;
}

._ml-lg {
  margin-left: 1.6rem !important;
}

._mr-lg {
  margin-right: 1.6rem !important;
}

._ml-xl {
  margin-left: 2.2rem !important;
}

._mr-xl {
  margin-right: 2.2rem !important;
}

._mx-xs {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

._my-xs {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

._mx-sm {
  margin-left: 0.7rem !important;
  margin-right: 0.7rem !important;
}

._my-sm {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}

._mx-md {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

._my-md {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

._mx-lg {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

._my-lg {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

._mx-xl {
  margin-left: 2.2rem !important;
  margin-right: 2.2rem !important;
}

._my-xl {
  margin-top: 2.2rem !important;
  margin-bottom: 2.2rem !important;
}

/* padding
---------------------------------------------- */
._p-0 {
  padding: 0 !important;
}

._pt-0 {
  padding-top: 0 !important;
}

._pb-0 {
  padding-bottom: 0 !important;
}

._pl-0 {
  padding-left: 0 !important;
}

._pr-0 {
  padding-right: 0 !important;
}

._px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

._py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

._p-xs {
  padding: 0.4rem !important;
}

._p-sm {
  padding: 0.7rem !important;
}

._p-md {
  padding: 1rem !important;
}

._p-lg {
  padding: 1.6rem !important;
}

._p-xl {
  padding: 2.2rem !important;
}

._pt-xs {
  padding-top: 0.4rem !important;
}

._pb-xs {
  padding-bottom: 0.4rem !important;
}

._pt-sm {
  padding-top: 0.7rem !important;
}

._pb-sm {
  padding-bottom: 0.7rem !important;
}

._pt-md {
  padding-top: 1rem !important;
}

._pb-md {
  padding-bottom: 1rem !important;
}

._pt-lg {
  padding-top: 1.6rem !important;
}

._pb-lg {
  padding-bottom: 1.6rem !important;
}

._pt-xl {
  padding-top: 2.2rem !important;
}

._pb-xl {
  padding-bottom: 2.2rem !important;
}

._pl-xs {
  padding-left: 0.4rem !important;
}

._pr-xs {
  padding-right: 0.4rem !important;
}

._pl-sm {
  padding-left: 0.7rem !important;
}

._pr-sm {
  padding-right: 0.7rem !important;
}

._pl-md {
  padding-left: 1rem !important;
}

._pr-md {
  padding-right: 1rem !important;
}

._pl-lg {
  padding-left: 1.6rem !important;
}

._pr-lg {
  padding-right: 1.6rem !important;
}

._pl-xl {
  padding-left: 2.2rem !important;
}

._pr-xl {
  padding-right: 2.2rem !important;
}

._px-xs {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

._py-xs {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

._px-sm {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

._py-sm {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

._px-md {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

._py-md {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

._px-lg {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

._py-lg {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}

._px-xl {
  padding-left: 2.2rem !important;
  padding-right: 2.2rem !important;
}

._py-xl {
  padding-top: 2.2rem !important;
  padding-bottom: 2.2rem !important;
}

/* margin & padding
---------------------------------------------- */
._m-5px {
  margin: 5px !important;
}

._mt-5px {
  margin-top: 5px !important;
}

._mb-5px {
  margin-bottom: 5px !important;
}

._ml-5px {
  margin-left: 5px !important;
}

._mr-5px {
  margin-right: 5px !important;
}

._mx-5px {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

._my-5px {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

._m-10px {
  margin: 10px !important;
}

._mt-10px {
  margin-top: 10px !important;
}

._mb-10px {
  margin-bottom: 10px !important;
}

._ml-10px {
  margin-left: 10px !important;
}

._mr-10px {
  margin-right: 10px !important;
}

._mx-10px {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

._my-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

._m-15px {
  margin: 15px !important;
}

._mt-15px {
  margin-top: 15px !important;
}

._mb-15px {
  margin-bottom: 15px !important;
}

._ml-15px {
  margin-left: 15px !important;
}

._mr-15px {
  margin-right: 15px !important;
}

._mx-15px {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

._my-15px {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

._m-20px {
  margin: 20px !important;
}

._mt-20px {
  margin-top: 20px !important;
}

._mb-20px {
  margin-bottom: 20px !important;
}

._ml-20px {
  margin-left: 20px !important;
}

._mr-20px {
  margin-right: 20px !important;
}

._mx-20px {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

._my-20px {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

._p-5px {
  padding: 5px !important;
}

._pt-5px {
  padding-top: 5px !important;
}

._pb-5px {
  padding-bottom: 5px !important;
}

._pl-5px {
  padding-left: 5px !important;
}

._pr-5px {
  padding-right: 5px !important;
}

._px-5px {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

._py-5px {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

._p-10px {
  padding: 10px !important;
}

._pt-10px {
  padding-top: 10px !important;
}

._pb-10px {
  padding-bottom: 10px !important;
}

._pl-10px {
  padding-left: 10px !important;
}

._pr-10px {
  padding-right: 10px !important;
}

._px-10px {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

._py-10px {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

._p-15px {
  padding: 15px !important;
}

._pt-15px {
  padding-top: 15px !important;
}

._pb-15px {
  padding-bottom: 15px !important;
}

._pl-15px {
  padding-left: 15px !important;
}

._pr-15px {
  padding-right: 15px !important;
}

._px-15px {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

._py-15px {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

._p-20px {
  padding: 20px !important;
}

._pt-20px {
  padding-top: 20px !important;
}

._pb-20px {
  padding-bottom: 20px !important;
}

._pl-20px {
  padding-left: 20px !important;
}

._pr-20px {
  padding-right: 20px !important;
}

._px-20px {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

._py-20px {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* ==============================================
  Text
============================================== */
._center {
  text-align: center      !important;
}

._right {
  text-align: right       !important;
}

._left {
  text-align: left        !important;
}

/* ==============================================
  fonts
============================================== */
/* size
---------------------------------------------- */
._xs {
  font-size: 0.6rem;
}

._sm {
  font-size: 0.8rem;
}

._md {
  font-size: 1rem;
}

._lg {
  font-size: 1.4rem;
}

._xl {
  font-size: 1.8rem;
}

/* weight
---------------------------------------------- */
._bold {
  font-weight: bold;
}

._normal {
  font-weight: normal;
}

._italic {
  font-weight: italic;
}

/* ==============================================
  Colors
============================================== */
/* font & background colors
---------------------------------------------- */
/* font colors
---------------------------------------------- */
._red {
  color: #f33;
}

._orange {
  color: #F83;
}

._yellow {
  color: #fd0;
}

._olive {
  color: #880;
}

._green {
  color: #3C6;
}

._lime {
  color: #0f0;
}

._teal {
  color: #399;
}

._blue {
  color: #66C;
}

._navy {
  color: #036;
}

._violet {
  color: #e9e;
}

._purple {
  color: #909;
}

._pink {
  color: #f99;
}

._brown {
  color: #a22;
}

._gray {
  color: #999;
}

._silver {
  color: #eee;
}

._black {
  color: #000;
}

._white {
  color: #000;
}

/* background colors
---------------------------------------------- */
._Red, ._Error {
  color: #fff;
  background: #f33;
}

._Orange {
  color: #fff;
  background: #F83;
}

._Yellow, ._Warn {
  color: #000;
  background: #fd0;
}

._Olive {
  color: #fff;
  background: #880;
}

._Green {
  color: #000;
  background: #3C6;
}

._Lime {
  color: #000;
  background: #0f0;
}

._Teal, ._Ok {
  color: #fff;
  background: #399;
}

._Blue, ._Info {
  color: #fff;
  background: #66C;
}

._Navy {
  color: #fff;
  background: #036;
}

._Violet {
  color: #000;
  background: #e9e;
}

._Purple {
  color: #fff;
  background: #909;
}

._Pink, ._Ng {
  color: #000;
  background: #f99;
}

._Brown {
  color: #fff;
  background: #a22;
}

._Gray {
  color: #fff;
  background: #999;
}

._Silver {
  color: #000;
  background: #eee;
}

._Black {
  color: #fff;
  background: #000;
}

._White {
  color: #000;
  background: #fff;
}

/* message colors
---------------------------------------------- */
/* ==============================================
  Utils
============================================== */
._ime-off {
  ime-mode: disabled;
}

._nowrap {
  white-space: nowrap;
}

._clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

._code {
  margin: 0;
  padding: 1rem;
  background: #eee;
}

h1._lefted, h2._lefted, h3._lefted, h4._lefted, h5._lefted, h6._lefted {
  border-left: .5rem solid #333;
  padding: .1rem .5rem 0;
}

h1._lined, h2._lined, h3._lined, h4._lined, h5._lined, h6._lined {
  border-bottom: 1px solid #333;
  padding-bottom: .2rem;
}

/* ==============================================
  List */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}

ul._virticaled {
  font-size: 0;
}

ul._virticaled > li {
  display: inline-block;
  font-size: 1rem;
}

/* ==============================================
  Card */
._Btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #000;
  color: #000;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn:hover {
  color: #fff;
  background: #000;
}

._Btn-Black {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #000;
  color: #fff;
  background: #000;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Black:hover {
  color: #000;
  background: #fff;
}

._Btn-red, ._Btn-error {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #f33;
  color: #f33;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-red:hover, ._Btn-error:hover {
  color: #fff;
  background: #f33;
}

._Btn-Red, ._Btn-Error {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #f33;
  color: #fff;
  background: #f33;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Red:hover, ._Btn-Error:hover {
  color: #f33;
  background: #fff;
}

._Btn-blue, ._Btn-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #66C;
  color: #66C;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-blue:hover, ._Btn-info:hover {
  color: #fff;
  background: #66C;
}

._Btn-Blue, ._Btn-Info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #66C;
  color: #fff;
  background: #66C;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Blue:hover, ._Btn-Info:hover {
  color: #66C;
  background: #fff;
}

._Btn-orange {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #F83;
  color: #F83;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-orange:hover {
  color: #fff;
  background: #F83;
}

._Btn-Orange {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #F83;
  color: #fff;
  background: #F83;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Orange:hover {
  color: #F83;
  background: #fff;
}

._Btn-teal, ._Btn-ok {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #399;
  color: #399;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-teal:hover, ._Btn-ok:hover {
  color: #fff;
  background: #399;
}

._Btn-Teal, ._Btn-Ok {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #399;
  color: #fff;
  background: #399;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Teal:hover, ._Btn-Ok:hover {
  color: #399;
  background: #fff;
}

._Btn-yellow, ._Btn-warn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #fd0;
  color: #999;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-yellow:hover, ._Btn-warn:hover {
  color: #000;
  background: #fd0;
}

._Btn-Yellow, ._Btn-Warn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #fd0;
  color: #000;
  background: #fd0;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Yellow:hover, ._Btn-Warn:hover {
  color: #999;
  background: #fff;
}

._Btn-pink, ._Btn-ng {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #f99;
  color: #999;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-pink:hover, ._Btn-ng:hover {
  color: #000;
  background: #f99;
}

._Btn-Pink, ._Btn-Ng {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 -2px;
  padding: .4rem 1.2rem;
  border: 1px solid;
  border-color: #f99;
  color: #000;
  background: #f99;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

._Btn-Pink:hover, ._Btn-Ng:hover {
  color: #999;
  background: #fff;
}

/* ==============================================
  Forms */
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .8rem;
  outline: none;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #eee;
}

form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="url"]:focus, form textarea:focus {
  background: #ffe;
}

form input[type="text"]:invalid, form input[type="password"]:invalid, form input[type="email"]:invalid, form input[type="url"]:invalid, form textarea:invalid {
  background: #fee;
}

/* ==============================================
  Icons
============================================== */
._icon:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  line-height: 1;
}

._icon._heart:before {
  content: '\f004';
}

._icon._user:before {
  content: '\f007';
}

._icon._Heart:before {
  content: '\f004';
  font-weight: 900;
}

._icon._User:before {
  content: '\f007';
  font-weight: 900;
}

._icon._Lock:before {
  content: '\f023';
  font-weight: 900;
}

/* ==============================================
  Card */
._Card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._Card > * {
  margin: 0;
  padding: 0;
}

._Card._shadow_ {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

._Card._iblock_ {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
