// ==============================================
// Box
// ==============================================

//------------------------
// width
//------------------------

//  20 - 100pxまで、10px間隔で
// 200 -1000pxまで、50px間隔で作る
@for $i from 2 through 10 {
  $ww : #{$i * 10};
  $www: #{$i * 100};
  $wwh: #{$www - 50};
  ._w-#{$ww}px  { width:#{$ww}px  !important; }
  ._w-#{$www}px { width:#{$www}px !important; }
  ._w-#{$wwh}px { width:#{$wwh}px !important; }
}

// 5-100%を、5間隔で作る
@for $i from 1 through 20 {
  $pct: #{$i *  5};
  ._w-#{$pct}pct { width:#{$pct}#{"%"} !important; }
}
