/* ==============================================
  Colors
============================================== */

/* message colors
---------------------------------------------- */
.#{$prefix}info   { color: $info;   }
.#{$prefix}success{ color: $success;}
.#{$prefix}warn   { color: $warn;   }
.#{$prefix}error  { color: $error;  }

/* font & background colors
---------------------------------------------- */
$cbc: (
  c : color,
  bg: background-color
);

@each $e, $p in $cbc {
  .#{$prefix}#{$e}-red    { #{$p}: #{$red};   }
  .#{$prefix}#{$e}-orange { #{$p}: #{$orange};}
  .#{$prefix}#{$e}-yellow { #{$p}: #{$yellow};}
  .#{$prefix}#{$e}-green  { #{$p}: #{$green}; }
  .#{$prefix}#{$e}-teal   { #{$p}: #{$teal};  }
  .#{$prefix}#{$e}-blue   { #{$p}: #{$blue};  }
  .#{$prefix}#{$e}-pink   { #{$p}: #{$pink};  }
  .#{$prefix}#{$e}-brown  { #{$p}: #{$brown}; }
  .#{$prefix}#{$e}-grey   { #{$p}: #{$grey};  }
  .#{$prefix}#{$e}-black  { #{$p}: #{$black}; }
  .#{$prefix}#{$e}-white  { #{$p}: #{$white}; }

  .#{$prefix}#{$e}-eee { #{$p}: #eee; }
  .#{$prefix}#{$e}-ccc { #{$p}: #ccc; }
  .#{$prefix}#{$e}-999 { #{$p}: #999; }
  .#{$prefix}#{$e}-666 { #{$p}: #666; }
  .#{$prefix}#{$e}-333 { #{$p}: #333; }

  .#{$prefix}#{$e}-fcc { #{$p}: #fcc; }
  .#{$prefix}#{$e}-cfc { #{$p}: #cfc; }
  .#{$prefix}#{$e}-ccf { #{$p}: #ccf; }
  .#{$prefix}#{$e}-cff { #{$p}: #cff; }
  .#{$prefix}#{$e}-fcf { #{$p}: #fcf; }
  .#{$prefix}#{$e}-ffc { #{$p}: #ffc; }

  .#{$prefix}#{$e}-f99 { #{$p}: #f99; }
  .#{$prefix}#{$e}-9f9 { #{$p}: #9f9; }
  .#{$prefix}#{$e}-99f { #{$p}: #99f; }
  .#{$prefix}#{$e}-9ff { #{$p}: #9ff; }
  .#{$prefix}#{$e}-f9f { #{$p}: #f9f; }
  .#{$prefix}#{$e}-ff9 { #{$p}: #ff9; }

  .#{$prefix}#{$e}-c99 { #{$p}: #c99; }
  .#{$prefix}#{$e}-9c9 { #{$p}: #9c9; }
  .#{$prefix}#{$e}-99c { #{$p}: #99c; }
  .#{$prefix}#{$e}-9cc { #{$p}: #9cc; }
  .#{$prefix}#{$e}-c9c { #{$p}: #c9c; }
  .#{$prefix}#{$e}-cc9 { #{$p}: #cc9; }
}
