// ----------------------------------------------
// color
// ----------------------------------------------
._c-white   { color: white; }
._c-blue    { color: blue; }
._c-red     { color: red; }
._c-yellow  { color: yellow; }
._c-green   { color: green; }

._bg-white  { background-color: white; }
._bg-blue   { background-color: blue; }
._bg-red    { background-color: red; }
._bg-yellow { background-color: yellow; }
._bg-green  { background-color: green; }

._success { color: hsl(141, 71%, 48%);  }
._warn    { color: hsl(48, 100%, 67%);  }
._error   { color: hsl(348, 100%, 61%); }
