/* ==============================================
  fonts
============================================== */

/* size
---------------------------------------------- */
.#{$prefix}xs { font-size: $fonts_xs; }
.#{$prefix}sm { font-size: $fonts_sm; }
.#{$prefix}md { font-size: $fonts_md; }
.#{$prefix}lg { font-size: $fonts_lg; }
.#{$prefix}xl { font-size: $fonts_xl; }

//for $i from 10 through 20 {
//  .fs#{$i} {
//    font-size:#{$i}px;
//  }
//}

/* weight
---------------------------------------------- */
.#{$prefix}bold   { font-weight: bold; }
.#{$prefix}normal { font-weight: normal; }
.#{$prefix}italic { font-weight: italic; }
