// ----------------------------------------------
// space
// ----------------------------------------------
// margin
//._m0   { margin: 0 !important; }
//._m1   { margin: 1em !important; }
//._mT1  { margin-top: 1em !important; }
//._mB1  { margin-bottom: 1em !important; }
//._my1 { margin-top: 1em !important; margin-bottom: 1em !important; }
//._mL1  { margin-left: 1em !important; }
//._mR1  { margin-right: 1em !important; }
//._mx1 { margin-left: 1em !important; margin-right: 1em !important; }
//
//._p0   { padding: 0 !important; }
//._p1   { padding: 1em !important; }
//._pT1  { padding-top: 1em !important; }
//._pB1  { padding-bottom: 1em !important; }
//._py1 { padding-top: 1em !important; padding-bottom: 1em !important; }
//._pL1  { padding-left: 1em !important; }
//._pR1  { padding-right: 1em !important; }
//._px1 { padding-left: 1em !important; padding-right: 1em !important; }

//@for $i from 1 through 20 {
//  .m#{$i * 5} { margin:#{$i * 5}px; }
//  .mT#{$i * 5} { margin-top:#{$i * 5}px; }
//  .mB#{$i * 5} { margin-bottom:#{$i * 5}px; }
//  .p#{$i * 5} { padding:#{$i * 5}px; }
//}

._myxs { margin-top:.75rem !important; margin-bottom:.75rem !important; }
._mxxs { margin-left:.75rem !important;margin-right:.75rem !important; }
._mys  { margin-top:1.5rem !important; margin-bottom:1.5rem !important; }
._mxs  { margin-left:1.5rem !important;margin-right:1.5rem !important; }
._mym  { margin-top:3rem !important;   margin-bottom:3rem !important; }
._mxm  { margin-left:3rem !important;  margin-right:3rem !important; }
._myl  { margin-top:4.5rem !important; margin-bottom:4.5rem !important; }
._mxl  { margin-left:4.5rem !important;margin-right:4.5rem !important; }
._myxl { margin-top:6rem !important;   margin-bottom:6rem !important; }
._mxxl { margin-left:6rem !important;  margin-right:6rem !important; }

._pyxs { padding-top:.75rem !important;  padding-bottom:.75rem !important; }
._pxxs { padding-left:.75rem !important; padding-right:.75rem !important; }
._pys  { padding-top:1.5rem !important;  padding-bottom:1.5rem !important; }
._pxs  { padding-left:1.5rem !important; padding-right:1.5rem !important; }
._pym  { padding-top:3rem !important;    padding-bottom:3rem !important; }
._pxm  { padding-left:3rem !important;   padding-right:3rem !important; }
._pyl  { padding-top:4.5rem !important;  padding-bottom:4.5rem !important; }
._pxl  { padding-left:4.5rem !important; padding-right:4.5rem !important; }
._pyxl { padding-top:6rem !important;    padding-bottom:6rem !important; }
._pxxl { padding-left:6rem !important;   padding-right:6rem !important; }
