// ==============================================
// space
//
// 5段階(xl,l,m,s,xs)でサイズ展開する
// 具体的な数値で持たせるかは思案中
//
// ==============================================

// --------------
// margin
// --------------
.#{$prefix}m-0   { margin:       0     !important; }
.#{$prefix}mt-0  { margin-top:   0     !important; }
.#{$prefix}mb-0  { margin-bottom:0     !important; }
.#{$prefix}ml-0  { margin-left:  0     !important; }
.#{$prefix}mr-0  { margin-right: 0     !important; }
.#{$prefix}mx-0  { margin-left:  0     !important; margin-right: 0     !important; }
.#{$prefix}my-0  { margin-top:   0     !important; margin-bottom:0     !important; }
.#{$prefix}mx-a  { margin-left:  auto  !important; margin-right: auto  !important; }

$mp_xs : .75rem;
$mp_s  : 1.5rem;
$mp_m  : 3rem;
$mp_l  : 4.5rem;
$mp_xl : 6rem;

// margin
.#{$prefix}m-xs  { margin: $mp_xs !important; }
.#{$prefix}m-s   { margin: $mp_s  !important; }
.#{$prefix}m-m   { margin: $mp_m  !important; }
.#{$prefix}m-l   { margin: $mp_l  !important; }
.#{$prefix}m-xl  { margin: $mp_xl !important; }

// margin t,b
.#{$prefix}mt-xs { margin-top:   $mp_xs !important; }
.#{$prefix}mb-xs { margin-bottom:$mp_xs !important; }
.#{$prefix}mt-s  { margin-top:   $mp_s  !important; }
.#{$prefix}mb-s  { margin-bottom:$mp_s  !important; }
.#{$prefix}mt-m  { margin-top:   $mp_m  !important; }
.#{$prefix}mb-m  { margin-bottom:$mp_m  !important; }
.#{$prefix}mt-l  { margin-top:   $mp_l  !important; }
.#{$prefix}mb-l  { margin-bottom:$mp_l  !important; }
.#{$prefix}mt-xl { margin-top:   $mp_xl !important; }
.#{$prefix}mb-xl { margin-bottom:$mp_xl !important; }

// margin LR
.#{$prefix}ml-xs { margin-left:  $mp_xs !important; }
.#{$prefix}mr-xs { margin-right: $mp_xs !important; }
.#{$prefix}ml-s  { margin-left:  $mp_s  !important; }
.#{$prefix}mr-s  { margin-right: $mp_s  !important; }
.#{$prefix}ml-m  { margin-left:  $mp_m  !important; }
.#{$prefix}mr-m  { margin-right: $mp_m  !important; }
.#{$prefix}ml-l  { margin-left:  $mp_l  !important; }
.#{$prefix}mr-l  { margin-right: $mp_l  !important; }
.#{$prefix}ml-xl { margin-left:  $mp_xl !important; }
.#{$prefix}mr-xl { margin-right: $mp_xl !important; }

// margin x,y
.#{$prefix}mx-xs { margin-left: $mp_xs !important; margin-right: $mp_xs  !important; }
.#{$prefix}my-xs { margin-top:  $mp_xs !important; margin-bottom:$mp_xs  !important; }
.#{$prefix}mx-s  { margin-left: $mp_s  !important; margin-right: $mp_s   !important; }
.#{$prefix}my-s  { margin-top:  $mp_s  !important; margin-bottom:$mp_s   !important; }
.#{$prefix}mx-m  { margin-left: $mp_m  !important; margin-right: $mp_m   !important; }
.#{$prefix}my-m  { margin-top:  $mp_m  !important; margin-bottom:$mp_m   !important; }
.#{$prefix}mx-l  { margin-left: $mp_l  !important; margin-right: $mp_l   !important; }
.#{$prefix}my-l  { margin-top:  $mp_l  !important; margin-bottom:$mp_l   !important; }
.#{$prefix}mx-xl { margin-left: $mp_xl !important; margin-right: $mp_xl  !important; }
.#{$prefix}my-xl { margin-top:  $mp_xl !important; margin-bottom:$mp_xl  !important; }


// --------------
// padding
// --------------
.#{$prefix}p-0   { padding:        0 !important; }
.#{$prefix}pt-0  { padding-top:    0 !important; }
.#{$prefix}pb-0  { padding-bottom: 0 !important; }
.#{$prefix}pl-0  { padding-left:   0 !important; }
.#{$prefix}pr-0  { padding-right:  0 !important; }
.#{$prefix}px-0  { padding-left:   0 !important; padding-right:  0 !important; }
.#{$prefix}py-0  { padding-top:    0 !important; padding-bottom: 0 !important; }

// padding
.#{$prefix}p-xs { padding: $mp_xs !important; }
.#{$prefix}p-s  { padding: $mp_s  !important; }
.#{$prefix}p-m  { padding: $mp_m  !important; }
.#{$prefix}p-l  { padding: $mp_l  !important; }
.#{$prefix}p-xl { padding: $mp_xl !important; }

// padding t,b
.#{$prefix}pt-xs { padding-top:    $mp_xs !important; }
.#{$prefix}pb-xs { padding-bottom: $mp_xs !important; }
.#{$prefix}pt-s  { padding-top:    $mp_s  !important; }
.#{$prefix}pb-s  { padding-bottom: $mp_s  !important; }
.#{$prefix}pt-m  { padding-top:    $mp_m  !important; }
.#{$prefix}pb-m  { padding-bottom: $mp_m  !important; }
.#{$prefix}pt-l  { padding-top:    $mp_l  !important; }
.#{$prefix}pb-l  { padding-bottom: $mp_l  !important; }
.#{$prefix}pt-xl { padding-top:    $mp_xl !important; }
.#{$prefix}pb-xl { padding-bottom: $mp_xl !important; }

// padding LR
.#{$prefix}pl-xs { padding-left: $mp_xs  !important; }
.#{$prefix}pr-xs { padding-right:$mp_xs  !important; }
.#{$prefix}pl-s  { padding-left: $mp_s   !important; }
.#{$prefix}pr-s  { padding-right:$mp_s   !important; }
.#{$prefix}pl-m  { padding-left: $mp_m   !important; }
.#{$prefix}pr-m  { padding-right:$mp_m   !important; }
.#{$prefix}pl-l  { padding-left: $mp_l   !important; }
.#{$prefix}pr-l  { padding-right:$mp_l   !important; }
.#{$prefix}pl-xl { padding-left: $mp_xl  !important; }
.#{$prefix}pr-xl { padding-right:$mp_xl  !important; }

// padding x,y
.#{$prefix}px-xs { padding-left:$mp_xs !important; padding-right:  $mp_xs  !important; }
.#{$prefix}py-xs { padding-top: $mp_xs !important; padding-bottom: $mp_xs  !important; }
.#{$prefix}px-s  { padding-left:$mp_s  !important; padding-right:  $mp_s   !important; }
.#{$prefix}py-s  { padding-top: $mp_s  !important; padding-bottom: $mp_s   !important; }
.#{$prefix}px-m  { padding-left:$mp_m  !important; padding-right:  $mp_m   !important; }
.#{$prefix}py-m  { padding-top: $mp_m  !important; padding-bottom: $mp_m   !important; }
.#{$prefix}px-l  { padding-left:$mp_l  !important; padding-right:  $mp_l   !important; }
.#{$prefix}py-l  { padding-top: $mp_l  !important; padding-bottom: $mp_l   !important; }
.#{$prefix}px-xl { padding-left:$mp_xl !important; padding-right:  $mp_xl  !important; }
.#{$prefix}py-xl { padding-top: $mp_xl !important; padding-bottom: $mp_xl  !important; }

// --------------
// margin & padding
// 5-20pxまで、5px間隔で作る
// --------------
@for $i from 1 through 4 {
  $val : #{$i * 5};
  .#{$prefix}m-#{$val}px   { margin:       #{$val}px !important; }
  .#{$prefix}mt-#{$val}px  { margin-top:   #{$val}px !important; }
  .#{$prefix}mb-#{$val}px  { margin-bottom:#{$val}px !important; }
  .#{$prefix}ml-#{$val}px  { margin-left:  #{$val}px !important; }
  .#{$prefix}mr-#{$val}px  { margin-right: #{$val}px !important; }
  .#{$prefix}mx-#{$val}px  { margin-left:  #{$val}px !important; margin-right: #{$val}px !important; }
  .#{$prefix}my-#{$val}px  { margin-top:   #{$val}px !important; margin-bottom:#{$val}px !important; }
}
