$prefix : "_";

// ===============================================
//  colors
//  https://clrs.cc/
// ===============================================
$red            : #f33;
$orange         : #F83;
$yellow         : #fd0;
$olive          : #880;
$green          : #3C6;
$lime           : #0f0;
$teal           : #399;
$blue           : #66C;
$navy           : #036;
$violet         : #e9e;
$purple         : #909;
$pink           : #f99;
$brown          : #a22;
$grey           : #bbb;
$black          : #000;
$white          : #fff;

//  site colors
// -----------------------------------------------
$primaryColor   : $pink;
$secondaryColor : $grey;

//  message colors
// -----------------------------------------------
//$info     : $blue;
//$warn     : $yellow;
//$error    : $red;
//$ok       : $green;
//$ng       : $pink;

// ===============================================
//  box model
// ===============================================
//$box_model_xs : .75rem;
//$box_model_sm : 1.5rem;
//$box_model_md : 3rem;
//$box_model_lg : 4.5rem;
//$box_model_xl : 6rem;
$box_model_xs : .6rem;
$box_model_sm : .8rem;
$box_model_md : 1rem;
$box_model_lg : 1.6rem;
$box_model_xl : 2rem;

// ===============================================
//  fonts
// ===============================================
$fonts_xs : .6rem;
$fonts_sm : .8rem;
$fonts_md : 1rem;
$fonts_lg : 1.6rem;
$fonts_xl : 2rem;
