$prefix : "_";

// ===============================================
//  colors
//  https://clrs.cc/
// ===============================================
$red            : #FF4136;
$orange         : #FF851B;
$yellow         : #FFDC00;
$olive          : #3D9970;
$green          : #2ECC40;
$lime           : #01FF70;
$teal           : #39CCCC;
$blue           : #0074D9;
$navy           : #001f3f;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$black          : #000000;
$white          : #ffffff;

//  site colors
// -----------------------------------------------
$primaryColor   : $pink;
$secondaryColor : $grey;

//  message colors
// -----------------------------------------------
$info           : $blue;
$success        : $green;
$warn           : $yellow;
$error          : $red;

// ===============================================
//  box model
// ===============================================
//$box_model_xs : .75rem;
//$box_model_sm : 1.5rem;
//$box_model_md : 3rem;
//$box_model_lg : 4.5rem;
//$box_model_xl : 6rem;
$box_model_xs : .6rem;
$box_model_sm : .8rem;
$box_model_md : 1rem;
$box_model_lg : 1.6rem;
$box_model_xl : 2rem;

// ===============================================
//  fonts
// ===============================================
$fonts_xs : .6rem;
$fonts_sm : .8rem;
$fonts_md : 1rem;
$fonts_lg : 1.6rem;
$fonts_xl : 2rem;
