doctype html
html(lang="en")
  head
    title CSSフレームワーク
    link(href="css/util.css" rel="stylesheet")
  body
    h1 CSSフレームワーク
    div
      h2 マージン
    div
      h2 フォント
    div
      h2._lined カラー
      .color-box
        ._Red red
        ._Orange orange
        ._Yellow yellow
      .color-box
        ._Teal teal
        ._Green green
        ._Lime lime
      .color-box
        ._Navy navy
        ._Blue blue
      .color-box
        ._Olive olive
        ._Brown brown
      .color-box
        ._Purple purple
        ._Violet violet
        ._Pink pink
      .color-box
        ._Black black
        ._Grey grey
        ._White white
      .color-box
        ._Info info
        ._Warn warn
        ._Error error
      .color-box
        ._Ok ok
        ._Ng ng
      style
        .
          .color-box {
            clear: both;
          }
          .color-box div {
            float: left;
            margin: 0;
            padding: 0;
            width: 80px;
            height: 40px;
            line-height: 40px;
            text-align: center
          }
