doctype html
html(lang="en")
  head
    title CSSフレームワーク
    link(href="css/util.css" rel="stylesheet")
  body
    h1 CSSフレームワーク
    div
      h2._lined Utils
      div
        include utils/_colors.pug
      h2._lined Compo
      div
        include compo/_buttons.pug
      div
        include compo/_cards.pug
