h3._lefted_ カラー
.color-box
  ._Red ._Red
  ._Orange ._Orange
  ._Yellow ._Yellow
.color-box
  ._Teal ._Teal
  ._Green ._Green
  ._Lime ._Lime
.color-box
  ._Navy ._Navy
  ._Blue ._Blue
.color-box
  ._Olive ._Olive
  ._Brown ._Brown
.color-box
  ._Purple ._Purple
  ._Violet ._Violet
  ._Pink ._Pink
.color-box
  ._Black ._Black
  ._Gray ._Gray
  ._Silver ._Silver
  ._White ._White
.color-box._my-10px
  ._Info ._Info
  ._Warn ._Warn
  ._Error ._Error
.color-box
  ._Ok ._Ok
  ._Ng ._Ng
.color-box
  ._red ._red
  ._orange ._orange
  ._Black._yellow ._yellow
.color-box
  ._teal ._teal
  ._green ._green
  ._Black._lime ._lime
.color-box
  ._navy ._navy
  ._blue ._blue
.color-box
  ._olive ._olive
  ._brown ._brown
.color-box
  ._purple ._purple
  ._Black._violet ._violet
  ._Black._pink ._pink
.color-box
  ._black ._black
  ._gray ._gray
  ._Black._silver ._silver
  ._Black._white ._white
.color-box._my-10px
  ._info ._info
  ._Black._warn ._warn
  ._error ._error
.color-box
  ._ok ._ok
  ._ng ._ng
style
  .
    .color-box {
      overflow: hidden; /* height用 */
      clear: both;
    }
    .color-box div {
      overflow: auto;   /* height用 */
      float: left;
      margin: 0;
      padding: 0;
      width: 80px;
      height: 40px;
      line-height: 40px;
      text-align: center
    }
