h3.--lefted カラー
.color-box
  .__Red    .__Red
  .__Orange .__Orange
  .__Yellow .__Yellow
.color-box
  .__Teal   .__Teal
  .__Green  .__Green
  .__Lime   .__Lime
.color-box
  .__Navy   .__Navy
  .__Blue   .__Blue
.color-box
  .__Olive  .__Olive
  .__Brown  .__Brown
.color-box
  .__Purple .__Purple
  .__Violet .__Violet
  .__Pink   .__Pink
.color-box
  .__Black  .__Black
  .__Gray   .__Gray
  .__Silver .__Silver
  .__White  .__White
.color-box._my-10px
  .__Info   .__Info
  .__Warn   .__Warn
  .__Error  .__Error
.color-box
  .__Ok .__Ok
  .__Ng .__Ng
.color-box
  .__red    .__red
  .__orange .__orange
  .__Black._yellow .__yellow
.color-box
  .__teal   .__teal
  .__green  .__green
  .__Black._lime .__lime
.color-box
  .__navy   .__navy
  .__blue   .__blue
.color-box
  .__olive  .__olive
  .__brown  .__brown
.color-box
  .__purple .__purple
  .__Black._violet  .__violet
  .__Black._pink    .__pink
.color-box
  .__black  .__black
  .__gray   .__gray
  .__Black._silver  .__silver
  .__Black._white   .__white
.color-box._my-10px
  .__info   .__info
  .__Black.__warn .__warn
  .__error .__error
.color-box
  .__ok .__ok
  .__ng .__ng
style
  .
    .color-box {
      overflow: hidden; /* height用 */
      clear: both;
    }
    .color-box div {
      overflow: auto;   /* height用 */
      float: left;
      margin: 0;
      padding: 0;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center
    }
