h3._lefted カラー
.color-box
  ._Red red
  ._Orange orange
  ._Yellow yellow
.color-box
  ._Teal teal
  ._Green green
  ._Lime lime
.color-box
  ._Navy navy
  ._Blue blue
.color-box
  ._Olive olive
  ._Brown brown
.color-box
  ._Purple purple
  ._Violet violet
  ._Pink pink
.color-box
  ._Black black
  ._Gray gray
  ._Silver silver
  ._White white
.color-box._my-10px
  ._Info info
  ._Warn warn
  ._Error error
.color-box
  ._Ok ok
  ._Ng ng
style
  .
    .color-box {
      overflow: hidden; /* height用 */
      clear: both;
    }
    .color-box div {
      overflow: auto;   /* height用 */
      float: left;
      margin: 0;
      padding: 0;
      width: 80px;
      height: 40px;
      line-height: 40px;
      text-align: center
    }
